/AnswerCityRegister.class
/CityRegisterCheckerResponse.class
/AnswerCityRegisterItem.class
/CityRegisterResponse.class
/AnswerCityRegisterItem$Citystatus.class
/AnswerCityRegisterItem$CityStatus.class
/AnswerCityRegisterItem$CityError.class
